.headerbar {
/*position: absolute;*/
/*background-color: rgba(4,24,67,.8);*/
width: 100%;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
}


li a {
  display: inline;
  color: black;
  text-decoration: none;
  font-family: Times;
  font-style: bold;
}


h1 {
  color: green;
}

.icons {
  margin-top:30%;
  float: left;
}